.music-box{
			position: fixed;
			bottom: 100px;
			left: 100px;
			z-index: 99;
			padding: 10px;
			height: 100px;
			width: 300px;
			background: rgba(0,0,0,.5);
			transition: left .5s;
			border-radius: 5px;
			color: black;
			border: 1px solid white;
		}
		/*.music-box:hover{
			left: 0;
		}*/
		.music-header{
			margin-bottom: 10px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			width: 100%;
		}
		.music-name{
			width: 260px;
			height: 100%;
			float: left;
			color: #fff;
		}
		.music-close{
			display: inline-block;
			width: 40px;
			height: 100%;
			float: left;
			background: white;
			color: black;
			border-radius: 5px;
			font-size: 20px;
		}
		.music-footer{
			height: 50px;
			width: 100%;
		}
		.music-footer div{
			float: left;
		}
		.music-btns{
			width: 150px;
			height: 100%;
			background: red;
		}
		
		.music-Lyric{
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
		}
		.music-Lyric a{
			padding: 10px;
			font-size: 20px;
			border-radius: 5px;
			border: 1px solid white;
		}
		.music-list{
			width: 50px;
			height: 100%;
		}
		.music-list a{
			display: block;
			height: 48px;
			width: 48px;
			border: 1px solid white;
			border-radius: 5px;
			background: black;
		}
		.music-list a .music-list-img{
			display: block;
			height: 30px;
			width: 23px;
			margin: 9px auto; 
			background: url("images/music_icon.png") no-repeat;
			background-position: -117px -86px;
		}
		.music-volume{
			width: 50px;
			height: 100%;
			background: black;
		}
		.music-volume a{
			display: block;
			height: 48px;
			width: 48px;
			border: 1px solid white;
			border-radius: 5px;
			background: black;
		}
		.music-volume a .music-volume-img{
			display: block;
			height: 16px;
			width: 15px;
			margin: 16px auto; 
			background: url("images/music_icon.png") no-repeat;
			background-position: -117px -36px;
		}